# Paths
music_directory    "~/Music"
playlist_directory "~/.mpd/playlists"
db_file            "~/.mpd/mpd.db"
log_file           "~/.mpd/mpd.log"
pid_file           "~/.mpd/mpd.pid"
state_file         "~/.mpd/mpdstate"

auto_update    "yes" # Update the db_file on filesystem changes
restore_paused "yes" # Always pause on boot

# Default MacOS output
audio_output {
    name       "default"
    type       "ao"
    mixer_type "software"
}

# For the ncmpcpp visualizer
audio_output {
    name   "visualizer"
    type   "fifo"
    path   "/tmp/mpd.fifo"
    format "44100:16:1"
}
