[core]
    commentChar = ";"
    editor = nvim
[alias]
    rpull = pull --rebase --prune
    purll = pull --rebase --prune
    prull = pull --rebase --prune
    rpul = pull --rebase --prune
    statuts = status
