[user]
    name = Matthew Spencer
    email = hello@thisismatthew.com
[credential]
    helper = osxkeychain
[push]
    default = matching
[filter "media"]
    required = true
    clean = git media clean %f
    smudge = git media smudge %f
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
    commentchar = ";"
