[core]
    commentChar = ";"
    editor = nvim
[alias]
    co = checkout
    prom = rebase origin/master
    porm = rebase origin/master
    rpull = pull --rebase --prune
    purll = pull --rebase --prune
    prull = pull --rebase --prune
    rpul = pull --rebase --prune
    statuts = status
