[core]
    commentChar = ";"
    editor = nvim
    symlinks = true
[alias]
    alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
    co = checkout
    upstream-name = !git remote | egrep -o '(upstream|origin)' | tail -1
    head-branch = !git remote show $(git upstream-name) | awk '/HEAD branch/ {print $NF}'
    porm = !git rebase origin/$(git head-branch)
    prom = !git rebase origin/$(git head-branch)
    prull = pull --rebase --prune
    purll = pull --rebase --prune
    rpul = pull --rebase --prune
    rpull = pull --rebase --prune
    rupll = pull --rebase --prune
    statuts = status
    st = status
[include]
    path = .gitconfig.local
[pager]
    branch = false
